#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.recipe-list{
  background-color: #888;
  border-radius: 8px;
  padding: 10px;
  color: aliceblue;
}
.recipe-component{
  display: flex;
  line-height: 0.5px;
  gap: 10px;
}

.recipe-component img{
  max-width: 100px;
  height: auto;
}

.btn-add{
  background-color: coral;
}
.btn-add-ingredient{
  background-color: red;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.recipe-delete{
  background-color: red;
  padding: 10px ;
  border-radius: 10px;
  cursor: pointer;
  
}


.input-wrapper-home {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  display: inline;
  align-items: center;
  margin-top: 20px;

}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  color: black;
}

input:focus {
  outline: none; 
}

textarea {
  font-style: arial;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  color: black;
}

textarea:focus {
  outline: none; 
}




#search-icon {
  color: royalblue;
}
